# IntelliJ / Android Studio
*.iml
.idea/
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# macOS
.DS_Store

# Build outputs
/build/
.cxx/
.externalNativeBuild/
captures/

# Gradle
.gradle/
local.properties
gradle.properties

# Otros
*.log
